body {
    font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI", 'Microsoft JhengHei',
    "Roboto",
    "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.completed{
  text-decoration: line-through;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color:white;
  background-color: #17a2b8 !important;
}